*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg1{

    background-image: url('/static/usuarios/img/bg1.png') !important;
    height: 100vh;
    background-size: cover;

}

.titulo-fonte{
    margin-top: 20px;
}

.box-titulo{
    display: flex;
}

.divisor{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(162, 219, 236), transparent);
    display: block;

}

.tac{
    text-align: center;
}

.box-form{
    padding: 20px;
    background-color: rgb(238, 233, 233);
    color: white !important;
    border-radius: 9px;
}

.box-circle{
    display: flex;
    gap: 5px;
    
}

.circle{
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

.c1{
    background-color: #f51505;
}

.c2{
    background-color: #0babbd;
}

.c3{
    background-color: #D98562
}

.input-form{
    background-color: #ffffff;
    padding: 10px;
    border: none;
    border: 1px solid rgba(252, 167, 88, 0.4);
    color: rgb(17, 17, 17);
    outline: 0;
    width: 100%;

}

.btn-cadastro{
    padding: 10px;
    background-color: #FF6B00;
    border: none;
    border: 1px solid #fca758;
    font-size: 18px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    cursor: pointer;
}